body {
}

.wrapper {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 400px;
    height: auto;
    border: 1px solid black;
    padding: 2em;
}

#title {
    text-align: center;
}

li {
    list-style-type: none;
}

ul {
    text-align: left;
}